@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}
html {
  scroll-behavior: smooth;
}
/* GLOBAL STYLE */
h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}
h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}
h4 {
  font-size: 20px;
  color: #222;
}
h6 {
  font-weight: 700;
  font-size: 12px;
}
p {
  font-size: 16px;
  color: #465b52;
}
body {
  width: 100%;
}
.section-p1 {
  /* section padding */
  padding: 40px 80px;
}
.section-m1 {
  /* section margin */
  margin: 40px 0;
}

button.normal{
   /*buttonglobalstyling*/
   font-size: 14px;
   font-weight: 600;
   padding: 15px 30px;
   color: #000000;
   background-color: white;
   border-radius: 4px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   -ms-border-radius: 4px;
   -o-border-radius: 4px;
   cursor: pointer;
   border: none;
   outline: none;
   transition: 0.2s;
   -webkit-transition: 0.2s;
   -moz-transition: 0.2s;
   -ms-transition: 0.2s;
   -o-transition: 0.2s;
}

button.white{
  /*buttonglobalstyling*/
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #ffffff;
  background-color: transparent;

  cursor: pointer;
  border: 1px solid white;
  outline: none;
  transition: 0.2s;

}
/* ----global variable end--- */

/* 1 */
/* header section start */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px 80px;
  background: transparent;
  backdrop-filter: blur(10px);

  
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

    z-index: 9999;
    position: sticky;
    top: 0;
    left: 0;
}
/* nav link */
#header #navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li {
  list-style: none;
  padding: 0 20px;

  /* parent elemet relative */
  position: relative;
}
#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
}
/* nav link hover effecet */
#navbar li a:hover,
#navbar li a.active {
/* active class added for section wise navbar underline */

  color: #088178;
  /*smooth transition*/
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

/* underline effect using pseudo element */
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    /* child elemet absolute */
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/* header section end */

/* 2 */
/* hero section start */
#hero{
    background-image: url(img/hero4.png);

    /* fullscreen */
    width: 100%;
    height: 90vh;

    /* make image center */
    background-position: top 25% right 0%;
    background-size: cover;

    padding: 0 80px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#hero h4{
    padding-bottom: 15px;
}
#hero h1{
    color: #088178;
}
#hero button{
    background-image: url("img/button.png");
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    margin-top: 10px;
}
/* hero section end */

/* feature section start */
#feature{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#feature .fe-box{
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  margin: 15px 0;
}
#feature .fe-box:hover{
/* adding hover effect */
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#feature .fe-box img{
  /* make image responsive */
  width: 100%;
  margin-bottom: 10px;
}
#feature .fe-box h6{
  padding: 9px 8px 6px 8px ;
  line-height: 1;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  color: #088178;
  background-color: #fddde4;

   display: inline-block;/*take width as lenght */
}
#feature .fe-box:nth-child(2) h6{
  /* adding different background for different h6 */
  background-color: #cdebbc;
}
#feature .fe-box:nth-child(3) h6{
  background-color: #f5f5f5;

}
#feature .fe-box:nth-child(4) h6{
  background-color: #001f3f;

}
#feature .fe-box:nth-child(5) h6{
  background-color: #bfbfbf;
}
#feature .fe-box:nth-child(6) h6{
  background-color: #b3ccc7;
}

/* feature section end */

/* feature products section start */
#product1{
  text-align: center;
}

#product1 .pro-container{
  display:flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  padding-top: 20px;
}
#product1 .pro{
  width: 23%;
  min-width: 250px;
  padding:10px 12px;
  border: 1px solid #afb6ab;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  margin: 15px 0;
  transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;

  position: relative;
}

#product1 .pro:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#product1 .pro img{
  /*takefullwidthof23%*/width: 100%;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

#product1 .pro .des{
  text-align: left;
  padding: 10px 0;
}
#product1 .pro .des span{
  color: #0024ee;
  font-size: 12px;
}
#product1 .pro .des h5{
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}
#product1 .pro .des i{
  font-size: 12px;
  color: #eeff00;
}
#product1 .pro .des  h4{
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}
#product1 .pro .cart{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;

  background-color: #b3ccc7;
 
  color: #0024ee;
 
 position: absolute;
 right: 10px;
 bottom: 20px;
}

/* feature products section end */

/* call to action banner start */
#banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-image: url("img/banner/b2.jpg");
  width: 100%;
  height: 40vh;
  background-position: center;
  background-size: cover;


 
}
#banner h4{
  color: #fff;
  font-size: 16px;
}
#banner h2{
  color: white;
  font-size: 30px;
  padding: 10px 0;
}
#banner h2  span{
  color: rgb(216, 67, 67);
}
/* button global styling (look above)⬆⬆ */

#banner button:hover{
  /* adding hover effect to button */
  background-color:#088178 ;
  color:#fff;
}
/* call to action banner end */

/* Two small banner start */
#sm-banner{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
}
#sm-banner .banner-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;

  background-image: url("img/banner/b17.jpg");
  min-width: 580px;
  
  height: 50vh;
  background-position: center;
  background-size: cover;

  padding: 30px;

}
#sm-banner .banner-box2{
  background-image: url("img/banner/b10.jpg");
}
#sm-banner .banner-box h4{
  color: white;
  font-size: 20px;
  font-weight: 300;
}
#sm-banner .banner-box h2{
  color: white;
  font-size: 28px;
  font-weight: 800;
}
#sm-banner .banner-box span{
  color: white;
  font-size: 14px;
  font-weight: 500;
  padding-bottom:15px ;
}

#sm-banner .banner-box:hover button{
  /* adding hover effect */
  background-color: #088178;
  border: 1px solid #088178;
}
/* Two small banner end */






